{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "ses:SendEmail",
                "ses:PutEmailIdentityDkimAttributes",
                "ses:PutEmailIdentityDkimSigningAttributes",
                "ses:ListRecommendations",
                "ses:BatchGetMetricData",
                "ses:UntagResource",
                "ses:TagResource",
                "ses:PutEmailIdentityMailFromAttributes",
                "ses:PutEmailIdentityFeedbackAttributes",
                "ses:PutEmailIdentityConfigurationSetAttributes",
                "ses:DeleteEmailIdentityPolicy",
                "ses:DeleteEmailIdentity",
                "ses:UpdateEmailIdentityPolicy",
                "ses:CreateDeliverabilityTestReport",
                "ses:CreateEmailIdentityPolicy",
                "ses:GetDomainStatisticsReport",
                "ses:GetEmailIdentityPolicies",
                "ses:GetEmailIdentity",
                "ses:SendBulkTemplatedEmail",
                "ses:SendTemplatedEmail",
                "ses:SendRawEmail"
            ],
            "Principal": {
                "AWS": [
                  "{{ aws_account_id.account }}"
                ]
            },
            "Resource": "arn:aws:ses:{{ _aws_region }}:{{ aws_account_id.account }}:identity/{{ _aws_profile }}.codeenigma.uk"
        }
    ]
}
