### {{ ansible_managed }}

# Drupal 10.1 onwards sets X-Content-Type-Options in PHP, see: https://www.drupal.org/node/3334163
# Consequently that header is no longer set here, it has been moved to project type templates as necessary.

gzip on;
gzip_proxied any;
gzip_static on;
gzip_http_version 1.1;
gzip_disable "MSIE [1-6]\.";
gzip_vary {{ nginx.http.gzip_vary }};
gzip_comp_level 6;
gzip_types
{% for gzip_type in nginx.http.gzip_types %}
    {{ gzip_type }}{% if loop.last %};{% endif %}

{% endfor %}
gzip_buffers 16 8k;
gzip_min_length 512;
proxy_buffer_size       {{ nginx.http.proxy_buffer_size }};
proxy_buffers           {{ nginx.http.proxy_buffers }};
client_body_buffer_size {{ nginx.http.client_body_buffer_size }};
fastcgi_buffer_size     {{ nginx.http.fastcgi_buffer_size }} ;
fastcgi_buffers         {{ nginx.http.fastcgi_buffers }} ;
client_max_body_size    {{ nginx.client_max_body_size }} ;
