{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/nginx/access.log",
{% if nginx.log_group_prefix is defined and nginx.log_group_prefix|length %}
            "log_group_name": "{{ nginx.log_group_prefix }}nginx-access",
{% else %}
						"log_group_name": "nginx-access",
{% endif %}
            "log_stream_name": "{{ nginx.log_stream_name }}"
          },
          {
            "file_path": "/var/log/nginx/error.log",
{% if nginx.log_group_prefix is defined and nginx.log_group_prefix|length %}
            "log_group_name": "{{ nginx.log_group_prefix }}nginx-error",
{% else %}
						"log_group_name": "nginx-error",
{% endif %}
            "log_stream_name": "{{ nginx.log_stream_name }}"
          }
        ]
      }
    }
  }
}