### {{ ansible_managed }}

{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "{{ domain.access_log }}",
{% if nginx.log_group_prefix is defined and nginx.log_group_prefix|length %}
            "log_group_name": "{{ nginx.log_group_prefix }}nginx-access",
{% else %}
						"log_group_name": "nginx-access",
{% endif %}
{% if domain.log_stream_name is defined and domain.log_stream_name|length %}
            "log_stream_name": "{{ domain.log_stream_name }}"
{% else %}
						"log_stream_name": "{{ nginx.log_stream_name }}"
{% endif %}
          },
          {
            "file_path": "{{ domain.error_log }}",
{% if nginx.log_group_prefix is defined and nginx.log_group_prefix|length %}
            "log_group_name": "{{ nginx.log_group_prefix }}nginx-error",
{% else %}
						"log_group_name": "nginx-error",
{% endif %}
{% if domain.log_stream_name is defined and domain.log_stream_name|length %}
            "log_stream_name": "{{ domain.log_stream_name }}"
{% else %}
						"log_stream_name": "{{ nginx.log_stream_name }}"
{% endif %}
          }
        ]
      }
    }
  }
}
