user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections {{ nginx.events.worker_connections }};
    # multi_accept on;
}

http {

    ##
    # Basic Settings
    ##

    sendfile {{ nginx.http.sendfile }};
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout {{ nginx.http.keepalive_timeout }};
    types_hash_max_size 2048;
    server_tokens off;

        log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" $request_length';

        log_format  proxy '$http_x_forwarded_for - $remote_user [$time_local] "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" $request_length';

    server_names_hash_bucket_size {{ nginx.http.server_names_hash_bucket_size }};
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##

    ssl_protocols {{ nginx.http.ssl_protocols }}; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    access_log {{ nginx.http.access_log }};
    error_log {{ nginx.http.error_log }};

    ##
    # Additional Settings
    ##

{% if nginx.http.custom_directives is defined %}
{% for directive in nginx.http.custom_directives %}
    {{ directive }}
{% endfor %}
{% endif %}

    ##
    # Virtual Host Configs
    ##

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}


#mail {
#   # See sample authentication script at:
#   # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#   # auth_http localhost/auth.php;
#   # pop3_capabilities "TOP" "USER";
#   # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#   server {
#       listen     localhost:110;
#       protocol   pop3;
#       proxy      on;
#   }
#
#   server {
#       listen     localhost:143;
#       protocol   imap;
#       proxy      on;
#   }
#}
