### {{ ansible_managed }}

location / {
    try_files $uri /app_{{ symfony_env }}.php$is_args$args;
}

# Dev only
location ~ \.php(/|$) {
  fastcgi_pass {{ nginx.php_fastcgi_backend }};
  fastcgi_split_path_info ^(.+\.php)(/.*)$;
  include fastcgi_params;
  fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
  fastcgi_param DOCUMENT_ROOT $realpath_root;
}

# Disable content sniffing, since it's an attack vector.
add_header X-Content-Type-Options nosniff;
