### {{ ansible_managed }}

server {
    listen 443;
    server_name {{ domain.server_name }};
    error_log {{ domain.error_log }} {{ domain.error_log_level }};
    access_log {{ domain.access_log }} {{ domain.access_log_format | default('main') }};
    # Proxy for certbot (LetsEncrypt)
    location /.well-known/acme-challenge/ {
        proxy_pass http://127.0.0.1:{{ domain.ssl.http_01_port }}$request_uri;
    }
}
