---
- name: Add Sury repository key for PHP.
  apt_key:
    url: https://packages.sury.org/php/apt.gpg
    state: present

- name: Add Sury repository.
  apt_repository:
    repo: "deb https://packages.sury.org/php/ buster main"
    state: present

- name: Pin Sury packages.
  template:
    src: sury.pref.j2
    dest: "/etc/apt/preferences.d/sury.pref"
    owner: root
    group: root
    mode: "0644"
    force: true

- name: Install PHP packages.
  apt:
    pkg:
      - "php{{ version }}-curl"
      - "php{{ version }}-dev"
      - "php{{ version }}-gd"
      - "php{{ version }}-imap"
      - "php{{ version }}-json"
      - "php{{ version }}-mbstring"
      - "php{{ version }}-mysql"
      - "php{{ version }}-opcache"
      - "php{{ version }}-soap"
      - "php{{ version }}-xml"
      - "php{{ version }}-zip"
      - "php{{ version }}-memcached"
      - "php{{ version }}-redis"
    state: present
  with_items: "{{ php.version }}"
  loop_control:
    loop_var: version

- name: Setup xdebug.
  include_role:
    name: php_xdebug

- name: Setup Blackfire.
  include_role:
    name: php_blackfire
