.ansible
docker-compose.yml
ansible/local/*
!ansible/local/.gitkeep
ansible/vars/provision-target
ansible/plays/provision-target/*.yml
ansible/vars/provision-privileged
ansible/plays/provision-privileged/*.yml