*.retry
*.pyc
*.orig
/data
/build
/config
/hosts
/templates
/files
/ansible.cfg
*geerlingguy*
/ce-dev/ansible/vars/*/_aws_credentials.yml
/ce-dev/ansible/vars/_common/*_exporter.yml
/test.yml
/ce-dev/ansible/plays/provision-target/indexer
/roles/contrib
