import json
import boto3

waf_cli = boto3.client("wafv2")

def lambda_handler(event, context):

    print("Gathering instance details.")
    ip_set=waf_cli.get_ip_set(
        Name=event['ip_set'],
        Scope='REGIONAL',
        Id=event['id']
    )

    return {
        'statusCode': 200,
        'name': ip_set['IPSet']['Name'],
        'id': ip_set['IPSet']['Id'],
        'addresses': ip_set['IPSet']['Addresses'],
        'lock_token': ip_set['LockToken'],
    }
