import json
import boto3

waf_cli = boto3.client("wafv2")

def lambda_handler(event, context):

    response = waf_cli.update_ip_set(
        Name=event['name'],
        Scope=event['scope'],
        Id=event['id'],
        Addresses=event['addresses'],
        LockToken=event['lock_token']
)

    return {
        'statusCode': 200,
        'body': response
    }
