import json
import calendar
from datetime import datetime
import boto3

costExpl = boto3.client('ce')

def lambda_handler(event, context):
    currDay=datetime.now().day
    currMonth=datetime.now().month
    print(currMonth)
    currYear=datetime.now().year
    print(currYear)
    lastDay=calendar.monthrange(currYear, currMonth)

    if currMonth < 10:
        currMonth = '0' + str(currMonth)
    nextDay = currDay + 1
    if currDay < 10:
        currDay = '0' + str(currDay)
    if nextDay < 10:
        nextDay = '0' + str(nextDay)

    startDate=str(currYear) + '-' + str(currMonth) + '-' + str(currDay)
    endDate=str(currYear) + '-' + str(currMonth) + '-' + str(nextDay)

    estimatedCost = costExpl.get_cost_forecast(
        TimePeriod={
            'Start': startDate,
            'End': endDate
        },
        Granularity='MONTHLY',
        Metric='BLENDED_COST'
    )
    return {
        'statusCode': 200,
        'Amount': estimatedCost['Total']['Amount'] + ' ' + estimatedCost['Total']['Unit'],
        'Between': estimatedCost['ForecastResultsByTime'][0]['TimePeriod']['Start'] + ' - ' + estimatedCost['ForecastResultsByTime'][0]['TimePeriod']['End']
    }
