import json
import boto3

waf_regional = boto3.client("wafv2", region_name="{{ _aws_region }}")
waf_cf = boto3.client("wafv2", region_name="us-east-1")
cf_client = boto3.client('cloudfront', region_name="us-east-1")

def get_rules(waf_client, acl_name, acl_id, scope):
    rule_details = waf_client.get_web_acl(Name=acl_name, Scope=scope, Id=acl_id)
    return [
        {
            'Name': rule['Name'],
            'Priority': rule['Priority']
        }
        for rule in rule_details['WebACL']['Rules']
    ]

def get_cf_associations(cf_client, web_acl_arn):
    dist_list = cf_client.list_distributions_by_web_acl_id(WebACLId=web_acl_arn)
    return [item['DomainName'] for item in dist_list.get('DistributionList', {}).get('Items', [])]

def get_regional_associations(waf_client, web_acl_arn):
    associations = []
    for res_type in ['APPLICATION_LOAD_BALANCER', 'API_GATEWAY']:
        res_list = waf_client.list_resources_for_web_acl(WebACLArn=web_acl_arn, ResourceType=res_type)
        if res_list.get('ResourceArns'):
            associations.append({res_type: res_list['ResourceArns']})
    return associations

def get_web_acls(waf_client, scope, include_cf_associations=False, cf_client=None):
    response = waf_client.list_web_acls(Scope=scope)
    web_acls = []

    for acl in response['WebACLs']:
        rules = get_rules(waf_client, acl['Name'], acl['Id'], scope)
        associations = (
            get_cf_associations(cf_client, acl['ARN']) if include_cf_associations
            else get_regional_associations(waf_client, acl['ARN'])
        )
        web_acls.append({
            'Name': acl['Name'],
            'Id': acl['Id'],
            'Rules': rules,
            'Association': associations
        })
    return web_acls

def lambda_handler(event, context):
    # CloudFront ACLs (Global Scope)
    cf_acls = get_web_acls(waf_cf, scope='CLOUDFRONT', include_cf_associations=True, cf_client=cf_client)

    # Regional ACLs (EU-West-1)
    regional_acls = get_web_acls(waf_regional, scope='REGIONAL')

    return {
        'statusCode': 200,
        'ACLs': {
            'CloudFront': cf_acls,
            'Regional': {
                "{{ _aws_region }}": regional_acls
            }
        }
    }
