---
swagger: "2.0"
info:
  #version: "2025-03-03T11:47:22Z"
  title: "{{ _aws_profile }}_admin_tools"
#host: "8p1tbwdddi.execute-api.us-east-1.amazonaws.com"
basePath: "/"
schemes:
- "https"
paths:
  {% for funct in ['GetMonthForecast', 'EnableDisableAutoscaling', 'Test'] %}
  /{{ funct }}:
    get:
      produces:
      - "application/json"
      responses:
        "200":
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
      x-amazon-apigateway-integration:
        type: "aws"
        httpMethod: "POST"
        uri: "arn:aws:apigateway:eu-west-1:lambda:path/2015-03-31/functions/arn:aws:lambda:eu-west-1:444471199298:function:getBilling/invocations"
        responses:
          default:
            statusCode: "200"
        passthroughBehavior: "when_no_match"
        timeoutInMillis: 29000
        contentHandling: "CONVERT_TO_TEXT"
  {% endfor %}
definitions:
  Empty:
    type: "object"
    title: "Empty Schema"
