- name: Ensure duplicity is installed.
  ansible.builtin.pip:
    name: duplicity
    state: present

- name: Create install dir.
  ansible.builtin.file:
    path: "{{ duplicity.install_dir }}"
    state: directory

- name: Create binary dir.
  ansible.builtin.file:
    path: "{{ duplicity.install_dir }}/bin"
    state: directory

- name: Create config dir.
  ansible.builtin.file:
    path: "{{ duplicity.install_dir }}/etc"
    state: directory

- name: Copy backup script in place.
  ansible.builtin.template:
    src: duplicity_backup.j2
    dest: "{{ duplicity.install_dir }}/bin/duplicity_backup"
    owner: root
    group: root
    mode: 0700

- name: Copy restore script in place.
  ansible.builtin.template:
    src: duplicity_restore.j2
    dest: "{{ duplicity.install_dir }}/bin/duplicity_restore"
    owner: root
    group: root
    mode: 0700

- name: Copy clean-up script in place.
  ansible.builtin.template:
    src: duplicity_clean.j2
    dest: "{{ duplicity.install_dir }}/bin/duplicity_clean"
    owner: root
    group: root
    mode: 0700

- name: Copy include-exclude filelist.
  ansible.builtin.template:
    src: include-exclude-filelist.j2
    dest: "{{ duplicity.install_dir }}/etc/{{ dir.name }}-include-filelist"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ duplicity.dirs }}"
  when: "dir.rules|length"
  loop_control:
    loop_var: dir

- name: Copy Duplicity cron config.
  ansible.builtin.template:
    src: "duplicity-cron.j2"
    dest: "/etc/cron.d/duplicity_cron"
    owner: root
    group: root
    mode: 0644

- name: Trigger overrides
  ansible.builtin.include_role:
    name: _overrides
  vars:
    _overrides: "{{ duplicity.overrides }}"
  when:
    - duplicity.overrides is defined
    - duplicity.overrides | length > 0