---
- name: Install deb for AWS CloudWatch agent.
  ansible.builtin.apt:
    deb: "https://s3.{{ aws_ssm_agent.region }}.amazonaws.com/amazon-ssm-{{ aws_ssm_agent.region }}/latest/debian_amd64/amazon-ssm-agent.deb"
    state: present

- name: Start the agent
  ansible.builtin.command: systemctl enable amazon-ssm-agent
