---
- name: Add Google Chrome key.
  ansible.builtin.shell: "set -o pipefail && wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -"
  args:
    executable: /bin/bash

- name: Install Google Chrome repo.
  ansible.builtin.apt_repository:
    repo: deb http://dl.google.com/linux/chrome/deb/ stable main
    state: present
    filename: google-chrome

# @TODO remove when https://redmine.codeenigma.net/issues/58246 can be done
- name: Install Google Chrome "headful" mode dependencies from backports.
  ansible.builtin.apt:
    name:
      - xorg
      - xvfb
      - gtk2-engines-pixbuf
      - dbus-x11
      - xfonts-base
      - xfonts-100dpi
      - xfonts-75dpi
      - xfonts-cyrillic
      - xfonts-scalable
    default_release: buster-backports
    state: present
  when:
    - is_local
    - ansible_distribution == "Debian"
    - ansible_distribution_major_version == "10"

- name: Install Google Chrome "headful" mode dependencies.
  ansible.builtin.apt:
    name:
      - xorg
      - xvfb
      - gtk2-engines-pixbuf
      - dbus-x11
      - xfonts-base
      - xfonts-100dpi
      - xfonts-75dpi
      - xfonts-cyrillic
      - xfonts-scalable
    state: present
  when: is_local is not defined

# @TODO remove when https://redmine.codeenigma.net/issues/58246 can be done
- name: Install VNC support from backports.
  ansible.builtin.apt:
    name: x11vnc
    default_release: buster-backports
    state: present
  when:
    - lhci.enable_vnc
    - is_local
    - ansible_distribution == "Debian"
    - ansible_distribution_major_version == "10"

- name: Install VNC support.
  ansible.builtin.apt:
    name: x11vnc
    state: present
  when:
    - lhci.enable_vnc
    - is_local is not defined

- name: Configure Xvfb to start on boot.
  ansible.builtin.shell: |
    Xvfb -ac :99 -screen 0 1280x1024x16 &

- name: Install Google Chrome.
  ansible.builtin.apt:
    name: "{{ lhci.chrome_package }}"
    state: present

- name: Install "lhci/cli" node.js package.
  community.general.packaging.language.npm:
    name: "@lhci/cli"
    version: "{{ lhci.cli_version | default(omit) }}"
    state: "{{ lhci.cli_state | default(omit) }}"
    production: true
    global: true

- name: Install "lighthouse" node.js package.
  community.general.packaging.language.npm:
    name: "lighthouse"
    version: "{{ lhci.lighthouse_version | default(omit) }}"
    state: "{{ lhci.lighthouse_state | default(omit) }}"
    production: true
    global: true
