---
- name: Install NFS client
  ansible.builtin.apt:
    name: nfs-common
    state: present
    update_cache: true
    cache_valid_time: 240
- name: Install EWS EFS utils
  ansible.builtin.apt:
    deb: "https://github.com/codeenigma/aws-efs-utils-deb-builder/releases/download/v{{ aws_efs_client.version }}/amazon-efs-utils-{{ aws_efs_client.version }}.deb"

- name: Create fstab entries.
  ansible.builtin.include_tasks: fstab.yml
  with_items: "{{ aws_efs_client.mounts }}"
  loop_control:
    loop_var: mount

- name: Create cloud-init script
  ansible.builtin.template:
    src: init.sh.j2
    dest: "/var/lib/cloud/scripts/per-boot/aws_efs_client.sh"
    mode: "0755"
