uri     ldaps://{{ pam_ldap.endpoints[0] }}/
port	636
sudoers_base   ou=SUDOers,{{ pam_ldap.lookup_base }}
#sudoers_debug 2
ssl start_tls
ssl on
tls_cacertfile /etc/ldap/ssl/{{ pam_ldap.ssl_certificate | basename }}

BIND_TIMELIMIT 5
TIMEOUT 5
TIMELIMIT 5
