---
- name: Install deb for AWS CloudWatch agent.
  apt:
    deb: "https://s3.amazonaws.com/amazoncloudwatch-agent/debian/amd64/latest/amazon-cloudwatch-agent.deb"
    state: present

- name: Adds cwagent user to adm group for log access.
  user:
    name: cwagent
    group: cwagent
    groups:
      - adm
    append: true

- name: Ensure cwagent user .aws directory.
  file:
    path: /home/cwagent/.aws
    recurse: true
    owner: cwagent
    group: cwagent
  when:
    - aws_cloudwatch_agent.use_credentials

- name: Generate AWS credentials
  template:
    src: credentials.j2
    dest: /home/cwagent/.aws/credentials
    owner: cwagent
    group: cwagent
  when:
    - aws_cloudwatch_agent.use_credentials

- name: Remove default config
  file:
    path: /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/default
    state: absent

- name: Install main config
  template:
    src: config.json.j2
    dest: /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.d/config.json
    owner: cwagent
    group: cwagent

- name: Stop the agent
  command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a stop

- name: Start the agent
  command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a start
