{
  "variables": 
  {
    "aws_profile": "{{ aws_ami.aws_profile }}"
  },
  "builders": 
  [
    {
      "type": "amazon-ebs",
      "profile": "{{ aws_ami.aws_profile }}",
      "region": "{{ aws_ami.region }}",
      "instance_type": "{{ aws_ami.instance_type }}",
      "ssh_username": "{{ aws_ami.ssh_username }}",
      "ami_name": "{{ aws_ami.ami_name }}",
      "associate_public_ip_address": true,
      "encrypt_boot": "{{ aws_ami.encrypt_boot }}",
      "launch_block_device_mappings": [
        {
          "device_name": "{{ aws_ami.device_name }}",
          "volume_type": "{{ aws_ami.volume_type }}",
          "volume_size": {{ aws_ami.volume_size }},
          "delete_on_termination": true
        }
      ],
      "source_ami_filter": {
        "filters": {
          "virtualization-type": "{{ aws_ami.virtualization_type }}",
          "name": "{{ aws_ami.name_filter }}",
          "root-device-type": "{{ aws_ami.root_device_type }}"
        },
        "owners": ["{{ aws_ami.owner }}"],
        "most_recent": true
      },
      {% if aws_ami.vpc_filter is defined and aws_ami.vpc_filter | length > 0 %}
      "vpc_filter": {
        "filters": {
          "tag:Name": "{{ aws_ami.vpc_filter }}"
        }
      },
      "subnet_filter": {
        "filters": {
          "tag:Name": "{{ _infra_name }}-{{ _env_type }}-{{ aws_ami.subnet_filter_az }}"
        }
      },
      {% endif %}
      "tags": {
        "Name": "{{ aws_ami.ami_name }}"
      }
    }
  ],
  "provisioners": [{
      "type": "ansible",
      "playbook_file": "{{ aws_ami.playbook_file }}",
      "inventory_directory": "{{ _ce_provision_base_dir }}/hosts",
      "ssh_authorized_key_file": "/home/{{ user_provision.username }}/.ssh/id_rsa.pub",
      {% if aws_ami.groups is defined and aws_ami.groups | length %}
      "groups": {{ aws_ami.groups | to_json }},
      {% endif %}
      "ansible_env_vars": 
      [ 
        "ANSIBLE_FORCE_COLOR=True", 
        "ALLOW_WORLD_READABLE_TMPFILES=True", 
        "ANSIBLE_CONFIG={{ _ce_provision_base_dir }}/ansible.cfg"
      ],
      "extra_arguments": 
			[ 
        {% if ansible_verbosity >= 1 %}
        "-vvvv",
        {% endif %}
        {% if _aws_ami_extra_vars is defined and _aws_ami_extra_vars | length %}
        "--extra-vars", 
        "{{ _aws_ami_extra_vars }}",
        {% endif %}        
				"--extra-vars", 
				"{ _ce_provision_base_dir: {{ _ce_provision_base_dir }}, _ce_provision_build_dir: {{ _ce_provision_build_dir }}, _ce_provision_build_tmp_dir: {{ _ce_provision_build_tmp_dir }}, _ce_provision_data_dir: {{ _ce_provision_data_dir }}, _ce_provision_build_id: {{ _ce_provision_build_id }}, _ce_provision_force_play: true }"
			 ]
  }]
}
