- name: Create IAM account alias for grouping
  iam_alias:
    aws_account_alias: "{{ aws_iam_saml.aws_account_alias }}"
  delegate_to: localhost
  when:
    - aws_iam_saml.aws_account_alias is defined
    - aws_iam_saml.aws_account_alias | length > 0

- name: Create SAML provider
  community.aws.iam_saml_federation:
    name: "{{ aws_iam_saml.provider_name }}"
    profile: "{{ aws_iam_saml.aws_profile }}"
    saml_metadata_document: "{{ aws_iam_saml.saml_metadata_document }}"
  delegate_to: localhost
  when:
    - aws_iam_saml.saml_metadata_document is defined
    - aws_iam_saml.saml_metadata_document | length > 40

- name: Get the current AWS account caller identity information
  amazon.aws.aws_caller_info:
    profile: "{{ aws_iam_saml.aws_profile }}"

  delegate_to: localhost
  register: caller_info

- name: Create a role for administrative access
  iam_role:
    name: "{{ aws_iam_saml.admin_role }}"
    profile: "{{ aws_iam_saml.aws_profile }}"
    tags: "{{ aws_iam_saml.tags }}"
    assume_role_policy_document: "{{ lookup('template', 'assume_admin_policy.j2') }}"
    description: "Administrative access to all systems"
    managed_policy:
      - arn:aws:iam::aws:policy/AdministratorAccess
  delegate_to: localhost
  when:
    - aws_iam_saml.admin_groups is defined
    - aws_iam_saml.admin_groups[0] | length > 0

- name: Create a role for read-only access
  iam_role:
    name: "{{ aws_iam_saml.readonly_role }}"
    profile: "{{ aws_iam_saml.aws_profile }}"
    tags: "{{ aws_iam_saml.tags }}"
    assume_role_policy_document: "{{ lookup('template', 'assume_readonly_policy.j2') }}"
    description: "Read-only access to all systems"
    managed_policy:
      - arn:aws:iam::aws:policy/ReadOnlyAccess
  delegate_to: localhost
  when:
    - aws_iam_saml.readonly_groups is defined
    - aws_iam_saml.readonly_groups[0] | length > 0

- name: Create a customer managed policy for billing access
  community.aws.iam_managed_policy:
    policy_name: "{{ aws_iam_saml.billing_policy }}"
    policy_description: "Custom policy for billing access"
    profile: "{{ aws_iam_saml.aws_profile }}"
    policy: "{{ lookup('template', 'access_billing_policy.j2') }}"
    state: present
  delegate_to: localhost
  register: billing_policy
  when:
    - aws_iam_saml.billing_groups is defined
    - aws_iam_saml.billing_groups[0] | length > 0

- name: Create a role for billing access
  community.aws.iam_role:
    name: "{{ aws_iam_saml.billing_role }}"
    profile: "{{ aws_iam_saml.aws_profile }}"
    tags: "{{ aws_iam_saml.tags }}"
    assume_role_policy_document: "{{ lookup('template', 'assume_billing_policy.j2') }}"
    description: "Billing access only"
    managed_policy:
      - "{{ billing_policy.policy.arn }}"
  delegate_to: localhost
  when: billing_policy.policy is succeeded

- name: Clone SimpleSAMLphp repo
  git:
    repo: "{{ aws_iam_saml.saml_repository }}"
    dest: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
    version: "{{ aws_iam_saml.saml_repository_branch }}"
  delegate_to: localhost
  when:
    - aws_iam_saml.saml_repository is defined
    - aws_iam_saml.saml_repository | length > 20

- name: Create AWS account include for centralised admin
  template:
    src: "simplesamlphp_admin_include.j2"
    dest: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}/{{ aws_iam_saml.saml_include_path }}/admin_{{ caller_info.account }}.php"
  delegate_to: localhost
  register: saml_include_template
  when:
    - aws_iam_saml.saml_include_path is defined
    - aws_iam_saml.saml_include_path | length > 0

- name: Stage the AWS account include
  command: git add .
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  when:
    - saml_include_template is succeeded

- name: Try a git commit of the AWS account include
  command: git commit -m "Automated commit - admin access for AWS account {{ caller_info.account }}."
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  ignore_errors: true
  register: include_commit
  when:
    - saml_include_template is succeeded

- name: Push the AWS account include
  command: git push origin {{ aws_iam_saml.saml_repository_branch }}
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  when:
    - include_commit is succeeded
    - saml_include_template is succeeded

- name: Create a SAML service provider for the AWS account
  template:
    src: "simplesamlphp_sp.j2"
    dest: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}/{{ aws_iam_saml.saml_sp_path }}/aws_{{ caller_info.account }}.php"
  delegate_to: localhost
  register: saml_sp_template
  when:
    - aws_iam_saml.saml_sp_path is defined
    - aws_iam_saml.saml_sp_path | length > 0

- name: Stage the AWS account service provider
  command: git add .
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  when:
    - saml_sp_template is succeeded

- name: Try a git commit of the AWS account service provider
  command: git commit -m "Automated commit - dedicated SP for AWS account {{ caller_info.account }}."
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  ignore_errors: true
  register: sp_commit
  when:
    - saml_sp_template is succeeded

- name: Push the AWS account service provider
  command: git push origin {{ aws_iam_saml.saml_repository_branch }}
  args:
    chdir: "{{ _ce_provision_build_dir }}/{{ aws_iam_saml.saml_repository_directory }}"
  delegate_to: localhost
  when:
    - sp_commit is succeeded
    - saml_sp_template is succeeded
