---
- name: Gather AMI image from name.
  ec2_ami_info:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    region: "{{ aws_ec2_with_eip.region }}"
    owners: self
    filters:
      name: "{{ aws_ec2_with_eip.ami_name }}"
  register: aws_ec2_with_eip_image

- name: Register latest AMI image.
  set_fact:
    aws_ec2_with_eip_image_latest: "{{ aws_ec2_with_eip_image.images | sort(attribute='creation_date') | last }}"

- name: Gather IAM role info.
  community.aws.iam_role_info:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    region: "{{ aws_ec2_with_eip.region }}"
    name: "{{ aws_ec2_with_eip.iam_role_name }}"
  register: _aws_ec2_with_eip_iam_role_info

- name: Create EC2 instance.
  community.aws.ec2_instance:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    key_name: "{{ aws_ec2_with_eip.key_name }}"
    instance_type: "{{ aws_ec2_with_eip.instance_type }}"
    instance_role: "{{ _aws_ec2_with_eip_iam_role_info.iam_roles[0].instance_profiles[0].arn }}"
    region: "{{ aws_ec2_with_eip.region }}"
    image_id: "{{ aws_ec2_with_eip_image_latest.image_id }}"
    state: "{{ aws_ec2_with_eip.state }}"
    wait: true
    vpc_subnet_id: "{{ aws_ec2_with_eip.vpc_subnet_id }}"
    name: "{{ aws_ec2_with_eip.instance_name }}"
    tags: "{{ aws_ec2_with_eip.tags }}"
    security_groups: "{{ aws_ec2_with_eip.security_groups }}"
    ebs_optimized: "{{ aws_ec2_with_eip.ebs_optimized }}"
    volumes:
      - device_name: /dev/xvda
        ebs:
          volume_size: "{{ aws_ec2_with_eip.root_volume_size }}"
          delete_on_termination: true
  register: aws_ec2_with_eip_instances

- name: Check if we have an existing EIP.
  ec2_eip_info:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    region: "{{ aws_ec2_with_eip.region }}"
    filters:
      tag:Name: "{{ aws_ec2_with_eip.instance_name }}"
  register: aws_ec2_with_eip_instances_eip

- name: Generate Terraform template.
  template:
    src: eip.tf.j2
    dest: "{{ _ce_provision_build_tmp_dir }}/main.tf"
    mode: "0666"
  when: not aws_ec2_with_eip_instances_eip.addresses

- name: Init Terraform.
  command:
    cmd: terraform init
    chdir: "{{ _ce_provision_build_tmp_dir }}"
  when: not aws_ec2_with_eip_instances_eip.addresses

- name: Create EIP with Terraform if we don't have one.
  command:
    cmd: terraform apply -auto-approve
    chdir: "{{ _ce_provision_build_tmp_dir }}"
  when: not aws_ec2_with_eip_instances_eip.addresses

- name: Re-register EIP.
  ec2_eip_info:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    region: "{{ aws_ec2_with_eip.region }}"
    filters:
      tag:Name: "{{ aws_ec2_with_eip.instance_name }}"
  register: aws_ec2_with_eip_instances_eip

- name: Associate Elastic IP.
  ec2_eip:
    profile: "{{ aws_ec2_with_eip.aws_profile }}"
    region: "{{ aws_ec2_with_eip.region }}"
    device_id: "{{ aws_ec2_with_eip_instances.instance_ids[0] }}"
    public_ip: "{{ aws_ec2_with_eip_instances_eip.addresses[0].public_ip }}"
    private_ip_address: "{{ aws_ec2_with_eip_instances.instances[0].private_ip_address }}"
    in_vpc: true
    tag_name: Name
    tag_value: "{{ aws_ec2_with_eip.instance_name }}"

- name: Add a DNS record in route 53
  community.aws.route53:
    state: "{{ aws_ec2_with_eip.state }}"
    profile: "{{ aws_ec2_with_eip.route_53.aws_profile }}"
    zone: "{{ aws_ec2_with_eip.route_53.zone }}"
    record: "{{ aws_ec2_with_eip.route_53.record }}"
    type: A
    value: "{{ aws_ec2_with_eip_instances_eip.addresses[0].public_ip }}"
    overwrite: true
  when:
    - aws_ec2_with_eip.route_53.zone is defined
    - aws_ec2_with_eip.route_53.zone | length > 0

- name: Add a matching wildcard DNS record
  community.aws.route53:
    state: "{{ aws_ec2_with_eip.state }}"
    profile: "{{ aws_ec2_with_eip.route_53.aws_profile }}"
    zone: "{{ aws_ec2_with_eip.route_53.zone }}"
    record: "*.{{ aws_ec2_with_eip.route_53.record }}"
    type: CNAME
    value: "{{ aws_ec2_with_eip.route_53.record }}"
    overwrite: true
  when:
    - aws_ec2_with_eip.route_53.zone is defined
    - aws_ec2_with_eip.route_53.zone | length > 0
    - aws_ec2_with_eip.route_53.wildcard is defined
    - aws_ec2_with_eip.route_53.wildcard

- name: Create EC2 autorecovery alarm.
  include_role:
    name: aws/aws_ec2_metric_alarm
  vars:
    aws_ec2_metric_alarm:
      aws_profile: "{{ aws_ec2_with_eip.aws_profile }}"
      region: "{{ aws_ec2_with_eip.region }}"
      name: "{{ aws_ec2_with_eip.instance_name }}_auto_recovery"
      description: "This metric auto recovers EC2 instances"
      metric: "StatusCheckFailed_System"
      namespace: "AWS/EC2"
      statistic: "Maximum"
      comparison: "GreaterThanOrEqualToThreshold"
      threshold: 1
      unit: "Count"
      period: 60
      evaluation_periods: 2
      alarm_actions: ["arn:aws:automate:{{ aws_ec2_with_eip.region }}:ec2:recover"]
      dimensions: { "InstanceId": "{{ aws_ec2_with_eip_instances.instances[0].instance_id }}" }
