[AmazonCloudWatchAgent]
aws_access_key_id = {{ aws_cloudwatch_agent.credentials.aws_access_key_id }}
aws_secret_access_key = {{ aws_cloudwatch_agent.credentials.aws_secret_access_key }}
region = {{ aws_cloudwatch_agent.credentials.region }}