#!/bin/bash
# Basic script to check if ossec is running and if not, start it.
#
check_daemon() {
  pgrep -f [o]ssec-syscheckd > /dev/null
}

while [ 1 ]; do
  check_daemon

  # if not found - equals to 1, start it
  if [ $? -eq 1 ]; then
    /etc/init.d/ossec restart > /dev/null 2>&1
    echo "OSSEC was not running. Restarting" | mail -s "OSSEC restarted on `hostname`" "{{ ossec.global.email_to }}"
  fi
  sleep 5;
done
