{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "{{ domain.access_log }}",
            "log_group_name": "nginx-access-{{ domain.server_name }}",
            "log_stream_name": "{instance_id}"
          },
          {
            "file_path": "{{ domain.error_log }}",
            "log_group_name": "nginx-error-{{ domain.server_name }}",
            "log_stream_name": "{instance_id}"
          }
        ]
      }
    }
  }
}