### {{ ansible_managed }}

{% for server in domain.servers %}
server {
    listen 80;
    server_name {{ domain.server_name }};
    error_log {{ domain.error_log }} {{ domain.error_log_level }};
    access_log {{ domain.access_log }};
    # Proxy for certbot (LetsEncrypt)
    location /.well-known/acme-challenge/ {
        proxy_pass http://localhost:{{ domain.ssl.http_01_port }}$request_uri;
    }
}
{% endfor %}
