#!/bin/sh
{% for service in ssl.services %}
/usr/sbin/service stop {{ service }}
{% endfor %}
sleep 1
/usr/bin/certbot renew -d {{ ssl.domain }}
sleep 1
{% for service in ssl.services %}
/usr/sbin/service start {{ service }}
{% endfor %}