<ossec_config>
{% if ossec.client %}
  <client>
    <server-ip>{{ ossec.serverip }}</server-ip>
  </client>

{% endif %}
  <global>
{% if not ossec.client %}
    <email_notification>{{ ossec.global.email_notification }}</email_notification>
    <email_to>{{ ossec.global.email_to }}</email_to>
    <smtp_server>{{ ossec.global.smtp_server }}</smtp_server>
    <email_from>{{ ossec.global.email_from }}</email_from>
{% endif %}
    <white_list>127.0.0.1</white_list>
    <white_list>^localhost.localdomain$</white_list>
{% for item in ossec.global.white_list %}
    <white_list>{{ item }}</white_list>
{% endfor %}
  </global>

{% if not ossec.client %}
  <email_alerts>
    <email_to>{{ ossec.email_alerts.email_to }}</email_to>
    <level>{{ ossec.email_alerts.level }}</level>
    <do_not_delay />
    <do_not_group />
  </email_alerts>
{% endif %}

  <syscheck>
    <frequency>{{ ossec.syscheck.frequency }}</frequency>
{% for item in ossec.syscheck.directories %}
    <directories check_all="yes">{{ item }}</directories>
{% endfor %}
{% for item in ossec.syscheck.ignore %}
    <ignore>{{ item }}</ignore>
{% endfor %}
  </syscheck>

  <rootcheck>
    <disabled>{{ ossec.rootcheck.disabled }}</disabled>
{% for item in ossec.rootcheck.rootkit_files %}
    <rootkit_files>{{ item }}</rootkit_files>
{% endfor %}
{% for item in ossec.rootcheck.rootkit_trojans %}
    <rootkit_trojans>{{ item }}</rootkit_trojans>
{% endfor %}
{% for item in ossec.rootcheck.system_audit %}
    <system_audit>{{ item }}</system_audit>
{% endfor %}
  </rootcheck>

{% for item in ossec.command %}
  <command>
    <name>{{ item.name }}</name>
    <executable>{{item.executable}}</executable>
    <expect>{{item.expect}}</expect>
    <timeout_allowed>{{item.timeout_allowed}}</timeout_allowed>
  </command>
{% endfor %}

{% if not ossec.activeresponse|length %}
  <active-response>
    <disabled>no</disabled>
{% else %}
{% for item in ossec.activeresponse %}
  <active-response>
    <disabled>{{ item.disabled }}</disabled>
    <command>{{ item.command }}</command>
    <location>{{ item.location }}</location>
    <rules_id>{{ item.rules_id }}</rules_id>
    <repeated_offenders>{{ item.repeated_offenders }}</repeated_offenders>
    <timeout>{{ item.timeout }}</timeout>
  </active-response>
{% endfor %}
{% endif %}

{% if not ossec.client %}
{% for item in ossec.remote.connection %}
  <remote>
    <connection>{{ item }}</connection>
  </remote>
{% endfor %}

  <alerts>
    <log_alert_level>{{ ossec.alerts.log_alert_level }}</log_alert_level>
    <email_alert_level>{{ ossec.alerts.email_alert_level }}</email_alert_level>
  </alerts>
{% endif %}

{% for item in ossec.localfile %}
  <localfile>
    <log_format>{{ item.log_format }}</log_format>
    <location>{{ item.location }}</location>
  </localfile>

{% endfor %}
{% if not ossec.client %}
  <rules>
{% for item in ossec.rules %}
    <include>{{ item }}</include>
{% endfor %}
  </rules>
{% endif %}
</ossec_config>
