<!-- Local rules -->

<!-- Modify it at your will. -->
<!-- Copyright (C) 2016, Wazuh Inc. -->

<groups> <!-- Adding a root element to wrap the groups -->

  <group name="local,syslog,sshd,">
    <rule id="100001" level="5">
      <if_sid>5716</if_sid>
      <srcip>1.1.1.1</srcip>
      <description>sshd: authentication failed from IP 1.1.1.1.</description>
      <group>authentication_failed,pci_dss_10.2.4,pci_dss_10.2.5,</group>
    </rule>
  </group>

  <group name="whitelist,">
    <rule id="100100" level="0">
      <if_sid>521</if_sid>
      <match>scantem</match>
      <description>Whitelist alerts containing 'scantem' in the title.</description>
      <options>no_full_log</options>
    </rule>
  </group>

</groups> <!-- Closing the root element -->
