 ██████╗ ██████╗ ██████╗ ███████╗    ███████╗███╗   ██╗██╗ ██████╗ ███╗   ███╗ █████╗
██╔════╝██╔═══██╗██╔══██╗██╔════╝    ██╔════╝████╗  ██║██║██╔════╝ ████╗ ████║██╔══██╗
██║     ██║   ██║██║  ██║█████╗      █████╗  ██╔██╗ ██║██║██║  ███╗██╔████╔██║███████║
██║     ██║   ██║██║  ██║██╔══╝      ██╔══╝  ██║╚██╗██║██║██║   ██║██║╚██╔╝██║██╔══██║
╚██████╗╚██████╔╝██████╔╝███████╗    ███████╗██║ ╚████║██║╚██████╔╝██║ ╚═╝ ██║██║  ██║
 ╚═════╝ ╚═════╝ ╚═════╝ ╚══════╝    ╚══════╝╚═╝  ╚═══╝╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═╝
Managed by Ansible

Environment: {{ _env_type }}

{{ _host_details.stdout }}

Last successful build was on {{ _last_build.stdout }}
