---
user_provision:
  # This sets both username and main group.
  username: "{% if is_local is defined and is_local %}ce-dev{% else %}controller{% endif %}"
  # It is often desirable to fix POSIX IDs for system users so they are consistent across your fleet
  # This is shown for documentation, you should do this in your config repo
  # uid: 988
  # gid: 988
  # Local username of the system user.
  utility_host: "localhost"
  utility_username: "{% if is_local is defined and is_local %}ce-dev{% else %}controller{% endif %}"
  sudoer: true
  groups: []
  ssh_keys: []
  # If you add more than one key here, make sure the original private key of your infra controller server is the first.
  ssh_private_keys: []
  known_hosts: []
  known_hosts_hash: true
