---
php:
  fpm:
    expose_php: "{% if _env_type == 'prod' %}Off{% else %}On{% endif %}"
    error_reporting: "{% if _env_type == 'prod' %}E_ALL & ~E_DEPRECATED & ~E_STRICT{% else %}E_ALL{% endif %}"
    display_errors: "{% if _env_type == 'prod' %}Off{% else %}On{% endif %}"
    display_startup_errors: "{% if _env_type == 'prod' %}Off{% else %}On{% endif %}"
    html_errors: "{% if _env_type == 'prod' %}Off{% else %}On{% endif %}"
    engine: "On"
    short_open_tag: "Off"
    max_execution_time: 120
    max_input_time: 60
    max_input_nesting_level: 64
    max_input_vars: 1000
    memory_limit: 256M
    log_errors_max_len: 1024
    ignore_repeated_errors: "Off"
    ignore_repeated_source: "Off"
    post_max_size: 200M
    upload_max_filesize: 200M
    max_file_uploads: 20
    date_timezone: "Europe/London"
    pool_user: "{{ user_deploy.username }}"
    pool_group: "{{ user_deploy.username }}"
    default_socket_timeout: 60
    max_children: 5
    start_servers: 2
    min_spare_servers: 1
    max_spare_servers: 3
    process_idle_timeout: 10s
    max_requests: 500
    opcache:
      enable: 1
      enable_cli: 0
      memory_consumption: 128
      max_accelerated_files: 2000
      validate_timestamps: 1
