#cloud-config
repo_update: true
repo_upgrade: all
packages:
  - python3-venv
  - python3-debian

users:
  - name: {{ _ce_provision_username }}
    primary_group: {{ _ce_provision_username }}
    homedir: /home/{{ _ce_provision_username }}
    system: true
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - {{ aws_ec2_with_eip.pubkey }}

runcmd:
  - [ su, -, {{ _ce_provision_username }}, -c, "/usr/bin/python3 -m venv /home/{{ _ce_provision_username }}/ce-python" ]
  - [ su, -, {{ _ce_provision_username }}, -c, "/home/{{ _ce_provision_username }}/ce-python/bin/python3 -m pip install --upgrade pip" ]
  - [ su, -, {{ _ce_provision_username }}, -c, "/home/{{ _ce_provision_username }}/ce-python/bin/pip install ansible netaddr python-debian" ]
