provider "aws" {
  region = "{{ aws_ec2_with_eip.region }}"
  profile = "{{ aws_ec2_with_eip.aws_profile }}"
}
resource "aws_eip" "{{ aws_ec2_with_eip.instance_name | regex_replace('[^A-z0-9]', '_') | regex_replace('^([0-9])', '_\\1') }}" {
  vpc = true
  instance = "{{ _aws_ec2_with_eip_instances.instance_ids[0] }}"
  tags = {
    "Name" = "{{ aws_ec2_with_eip.instance_name }}"
  }
}