{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "account:*",
        "billing:*",
        "invoicing:*",
        "freetier:*",
        "ce:*",
        "cur:*",
        "tax:*",
        "sustainability:*"
      ],
      "Effect": "Allow",
      "Resource": "*"
    },
    {
      "Action": [
        "account:CloseAccount",
        "account:DeleteAlternateContact",
        "account:PutAlternateContact",
        "account:PutChallengeQuestions",
        "account:PutContactInformation",
        "billing:PutContractInformation",
        "billing:UpdateIAMAccessPreference",
        "billing:UpdateBillingPreferences",
        "tax:BatchPutTaxRegistration",
        "tax:DeleteTaxRegistration",
        "tax:PutTaxInheritance"
      ],
      "Effect": "Deny",
      "Resource": "*"
    }
  ]
}