MAILTO="{{ jenkins.mailto  }}"
{{ jenkins.schedule }} {{ jenkins.user }}  /usr/local/bin/jenkins-plugin-update 2> /dev/null
{{ jenkins.schedule }} {{ jenkins.user }}  /usr/local/bin/jenkins-cert-renewal 2> /dev/null

