---
- name: Ensure mariadb-client is installed.
  ansible.builtin.apt:
    pkg: ["mariadb-client"]
    state: present
    update_cache: true
    cache_valid_time: 240

- name: Ensure pip dependencies are installed.
  ansible.builtin.pip:
    name: pymysql

- name: Copy debian.cnf credentials file.
  template:
    src: "mysql.creds.j2"
    dest: "/home/{{ user_deploy.username }}/.mysql.creds"
    owner: "{{ user_deploy.username }}"
    group: "{{ user_deploy.username }}"
    mode: 0600

- name: Trigger overrides
  include_role:
    name: _overrides
  vars:
    _overrides: "{{ mysql_client.overrides }}"
  when:
    - mysql_client.overrides is defined
    - mysql_client.overrides | length > 0