# @todo cross-owner
- name: Gather peer instance info.
  ec2_instance_info:
    filters:
      "tag:Name": "{{ peering.name }}"
    profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
    region: "{{ peering.region }}"
  register: _aws_ec2_autoscale_cluster_peer_instance

- name: Gather peer VPC information
  ec2_vpc_net_info:
    profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
    region: "{{ peering.region }}"
    vpc_ids: "{{ _aws_ec2_autoscale_cluster_peer_instance.instances[0].vpc_id }}"
  register: _aws_ec2_autoscale_cluster_peer_vpc

- name: Create local VPC peering Connection
  ec2_vpc_peer:
    profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
    region: "{{ aws_ec2_autoscale_cluster.region }}"
    vpc_id: "{{ _aws_ec2_autoscale_cluster_vpc.vpcs[0].vpc_id }}"
    peer_region: "{{ peering.region }}"
    peer_vpc_id: "{{ _aws_ec2_autoscale_cluster_peer_instance.instances[0].vpc_id }}"
    state: "{{ aws_ec2_autoscale_cluster.state }}"
    tags: "{{ aws_ec2_autoscale_cluster.tags }}"
  register: _aws_ec2_autoscale_cluster_peer_connection

- name: Accept VPC peering request.
  ec2_vpc_peer:
    profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
    region: "{{ aws_ec2_autoscale_cluster.region }}"
    peering_id: "{{ _aws_ec2_autoscale_cluster_peer_connection.peering_id }}"
    state: accept # @todo this only works for state present

- name: Add/replace subnets CIDR block routes.
  set_fact:
    _aws_ec2_autoscale_cluster_peer_routes: "{{ _aws_ec2_autoscale_cluster_peer_routes | default([]) + [ { 'dest': subnet.cidr, 'vpc_peering_connection_id': _aws_ec2_autoscale_cluster_peer_connection.peering_id } ] }}"
  with_items: "{{ aws_ec2_autoscale_cluster.subnets }}"
  loop_control:
    loop_var: subnet

- name: Update peer route table.
  include_role:
    name: aws/aws_vpc_route
  vars:
    aws_vpc_route:
      aws_profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
      region: "{{ peering.region }}"
      vpc_id: "{{ _aws_ec2_autoscale_cluster_peer_instance.instances[0].vpc_id }}"
      routes: "{{ _aws_ec2_autoscale_cluster_peer_routes }}"

- name: Update reverse peer route table.
  include_role:
    name: aws/aws_vpc_route
  vars:
    aws_vpc_route:
      aws_profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
      region: "{{ aws_ec2_autoscale_cluster.region }}"
      vpc_id: "{{ _aws_ec2_autoscale_cluster_vpc.vpcs[0].vpc_id }}"
      subnet_id: "{{ subnet.subnet_id }}"
      tags: "{{ aws_ec2_autoscale_cluster.tags | combine( { 'Name': subnet.tags.Name } ) }}"
      routes:
        - dest: "{{ _aws_ec2_autoscale_cluster_peer_instance.instances[0].private_ip_address }}/32"
          vpc_peering_connection_id: "{{ _aws_ec2_autoscale_cluster_peer_connection.peering_id }}"
  with_items: "{{ _aws_ec2_autoscale_cluster_subnets.subnets }}"
  loop_control:
    loop_var: subnet
