version: "3.7"

services:
  registry:
    image: registry:2
    restart: unless-stopped
    container_name: docker_registry
{% if docker_registry.bind is defined and docker_registry.bind %}
    ports:
      - {{ docker_registry.bind }}:{{ docker_registry.port }}:5000
{% endif %}