---
- name: Create the provision group for provisioning.
  group:
    name: "{{ ce_provision.username }}"
    system: true

- name: Create additional groups.
  group:
    name: "{{ group }}"
    state: present
    system: true
  with_items: "{{ ce_provision.groups }}"
  loop_control:
    loop_var: group
  when: ce_provision.groups | length

- name: Create the provision user for provisioning.
  user:
    name: "{{ ce_provision.username }}"
    comment: Provisioning user
    shell: /bin/bash
    create_home: true
    group: "{{ ce_provision.username }}"
    uid: "{{ ce_provision.uid | default(omit) }}"
    generate_ssh_key: true
    home: "/home/{{ ce_provision.username }}"
    password: "*"
    ssh_key_bits: 4096
    ssh_key_comment: "{{ ce_provision.username }}@{{ ansible_host }}"
    system: true
    groups: "{{ ce_provision.groups }}"

- name: Fetch back the SSH pub key.
  fetch:
    dest: "{{ _ce_provision_data_dir }}"
    src: "/home/{{ ce_provision.username }}/.ssh/id_rsa.pub"

# This prevent the original var to be re-evaluated when we move things around.
- name: Register config repository.
  set_fact:
    ce_provision_has_config_repo: "{{ 'yes' if ce_provision.config_repository else 'no' }}"

- name: Ensure APT dependencies are installed.
  ansible.builtin.apt:
    pkg: ["git", "parallel"]
    state: present

- name: Ensure pip dependencies are installed.
  ansible.builtin.pip:
    name: dnspython

# This is needed for "pushing" in certain cases.
- name: Setup Git identity.
  command:
    cmd: "git config --global user.name {{ ce_provision.username }}"
  become: true
  become_user: "{{ ce_provision.username }}"

- name: Setup Git identity email.
  command:
    cmd: "git config --global user.email {{ ce_provision.username }}@{{ _domain_name }}"
  become: true
  become_user: "{{ ce_provision.username }}"

- name: Ensure provision scripts are presents.
  git:
    repo: "{{ ce_provision.own_repository | default('https://github.com/codeenigma/ce-provision.git') }}"
    dest: "{{ ce_provision.local_dir }}"
    version: "{{ ce_provision.own_repository_branch  | default('master') }}"
    update: true
    accept_hostkey: true #@todo?
  become: true
  become_user: "{{ ce_provision.username }}"
  when:
    - not ce_provision.own_repository_skip_checkout

- name: Checkout config directory.
  git:
    repo: "{{ ce_provision.config_repository }}"
    accept_hostkey: true
    dest: "{{ ce_provision.local_dir }}/config"
    version: "{{ ce_provision.config_repository_branch  | default('master') }}"
  become: true
  become_user: "{{ ce_provision.username }}"
  when:
    - ce_provision_has_config_repo
    - not ce_provision.config_repository_skip_checkout

- name: Create defaults folders.
  file:
    path: "{{ ce_provision.local_dir }}/{{ item }}"
    state: directory
  with_items:
    - hosts
  when: not ce_provision_has_config_repo

- name: Create default config.
  copy:
    src: ansible.cfg
    dest: "{{ ce_provision.local_dir }}/ansible.cfg"
  when: not ce_provision_has_config_repo

- name: Symlink config folders to /etc/ansible.
  file:
    dest: "{{ ce_provision.local_dir }}/{{ item }}"
    src: "{{ ce_provision.local_dir }}/config/{{ item }}"
    state: link
  with_items:
    - hosts
    - files
    - templates
    - ansible.cfg
  when: ce_provision_has_config_repo

- name: Create data dir.
  file:
    path: "{{ ce_provision.local_dir }}/data"
    state: directory

- name: Ensure ownership of Ansible folder.
  file:
    path: "/home/{{ ce_provision.username }}"
    state: directory
    owner: "{{ ce_provision.username }}"
    recurse: true

- name: Check if ansible-galaxy custom requirements file exists.
  stat:
    path: "{{ ce_provision.galaxy_custom_requirements_file }}"
  register: ce_provision_custom_galaxy_requirements

- name: Install mandatory ansible-galaxy roles and collections.
  ansible.builtin.command:
    cmd: "ansible-galaxy install -r {{ ce_provision.local_dir }}/roles/ce_provision/meta/requirements.yml"
  become: true
  become_user: "{{ ce_provision.username }}"

- name: Install custom ansible-galaxy roles and collections.
  ansible.builtin.shell:
    cmd: cd {{ ce_provision.local_dir }} && ansible-galaxy install -r {{ ce_provision.galaxy_custom_requirements_file }}
  become: true
  become_user: "{{ ce_provision.username }}"
  when: ce_provision_custom_galaxy_requirements.stat.exists
