import json
import boto3

RDS_CLI = boto3.client("rds", region_name="{{ _aws_region }}")
EC2_CLI = boto3.client("ec2", region_name="{{ _aws_region }}")
BACKUP_CLI = boto3.client('backup', region_name="{{ _aws_region }}")

def handle_exit(rds_instance_id, message, job_id):
    rds_cli.delete_db_instance(
        DBInstanceIdentifier=rds_instance_id,
        SkipFinalSnapshot=True,
        DeleteAutomatedBackups=True,
    )

    BACKUP_CLI.put_restore_validation_result(
        RestoreJobId=job_id,
        ValidationStatus="FAILED",
        ValidationStatusMessage=""
    )

def lambda_handler(event, context):
    print(event)

    rds_instance_id=event['detail']['SourceArn'].split(":")[-1]

    aurora_instances = RDS_CLI.describe_db_instances(DBInstanceIdentifier=rds_instance_id)

    cluster_id = aurora_instances["DBInstances"][0].get("DBClusterIdentifier")

    clusters = RDS_CLI.describe_db_clusters(DBClusterIdentifier=cluster_id)

    print(clusters["DBClusters"][0])

    new_endpoint = clusters["DBClusters"][0]["Endpoint"]

    mail_body = ""

    instance_name_exist = False

    for tag in clusters["DBClusters"][0]['TagList']:
        if (tag['Key'] == "awsbackup-restore-test"):
            backup_id = tag['Value']
        else:
            print("There is no tag available")

    print("Get instance name with access to RDS")
    for tag in clusters["DBClusters"][0]['TagList']:
        if tag['Key']=='Name':
            ec2_with_access=tag['Value']
            instance_name_exist = True

    if instance_name_exist:
        print(ec2_with_access)

        print("Get all instances")
        ec2_instances=ec2_cli.describe_instances()
        ec2_instance_exist = False

        print("Iterate to get id of EC2")
        for reservation in ec2_instances["Reservations"]:
            for instance in reservation["Instances"]:
                for tag in instance['Tags']:
                    if ((tag['Key'] == "Name") and (tag['Value'] == ec2_with_access)):
                        print(tag['Key'] + " - " + tag['Value'] + " - " + instance["InstanceId"])
                        ec2_instance_id = instance["InstanceId"]
                        ec2_instance_exist = True
                    else:
                        print("there is no instance available")

        if ec2_instance_exist:
            print(ec2_instance_id)

            # Run scripts on EC2
            print("Creating script!")
            script = """
            cat /etc/motd
            old_host=$(grep host /home/deploy/.mysql.creds | awk -F= '{{print $2 }}')
            sed 's,old_host,{new_host},g' /home/deploy/.mysql.creds >> /home/deploy/.mysql.creds.tmp
            mysql --defaults-file=/home/deploy/.mysql.creds.tmp -e "SELECT table_schema 'DB Name', ROUND(SUM(data_length + index_length) / 1024 / 1024, 1) 'DB Size in MB' FROM information_schema.tables GROUP BY table_schema;"
            rm /home/deploy/.mysql.creds.tmp
            """.format(new_host=new_endpoint)

            print("Running command!")
            command_response = ssm_cli.send_command(
                DocumentName ='AWS-RunShellScript',
                Parameters = {'commands': [script]},
                InstanceIds = [
                    ec2_instance_id
                ]
            )

            print("Getting command output.")
            time.sleep(30)
            c_res = ssm_cli.get_command_invocation(
                CommandId=command_response['Command']['CommandId'],
                InstanceId=ec2_instance_id
            )

            print(c_res['StandardOutputContent'])
            instance_message = "RDS instance " + ec2_with_access  + " was restored.\n"
            conn_message = "Able to get information from " + new_endpoint + ":\n"
            mail_body=instance_message + conn_message + c_res['StandardOutputContent']

            handle_exit(rds_instance_id, "SUCCESSFUL", aurora_instances["DBInstances"][0]["TagList"]["JobID"])

            print(mail_body)


        print("Instance with access doesn't exist!")
        handle_exit(rds_instance_id, "FAILED", aurora_instances["DBInstances"][0]["TagList"]["JobID"])

    else:
        print("Instance name is not found in Tag.")
        handle_exit(rds_instance_id, "FAILED", aurora_instances["DBInstances"][0]["TagList"]["JobID"])

    return {
    'statusCode': 200,
    'body':  json.dumps(event)
    }
