{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/php{{ version }}-fpm.log",
{% if php.fpm.log_group_prefix is defined and php.fpm.log_group_prefix|length %}
            "log_group_name": "{{ php.fpm.log_group_prefix }}php{{ version }}",
{% else %}
						"log_group_name": "php",
{% endif %}
{% if php.fpm.log_stream_name is defined and php.fpm.log_stream_name|length %}
            "log_stream_name": "{{ php.fpm.log_stream_name }}"
{% else %}
						"log_stream_name": "php-fpm"
{% endif %}
          },
          {
            "file_path": "{{ php.fpm.slowlog_file_directory }}/php{{ version }}-fpm.slow.log",
{% if php.fpm.log_group_prefix is defined and php.fpm.log_group_prefix|length %}
            "log_group_name": "{{ php.fpm.log_group_prefix }}php{{ version }}",
{% else %}
						"log_group_name": "php",
{% endif %}
{% if php.fpm.log_stream_name is defined and php.fpm.log_stream_name|length %}
            "log_stream_name": "{{ php.fpm.log_stream_name }}-slowlog"
{% else %}
						"log_stream_name": "php-fpm-slowlog"
{% endif %}
          }
        ]
      }
    }
  }
}
