concurrent = {{ gitlab_runner.concurrent_jobs }}
check_interval = {{ gitlab_runner.check_interval }}

[session_server]
  session_timeout = {{ gitlab_runner.session_timeout }}

{% for runner in gitlab_runner.runners %}
[[runners]]
  output_limit = {{ runner.output_limit }}  
  name = "{{ runner.name }}"
  url = "{{ runner.url }}"
  token = "{{ runner.token }}"
  executor = "{{ runner.executor }}"
  {% if 'builds_dir' in runner %}builds_dir = "{{ runner.builds_dir }}"
{% endif %}
  {% if 'cache_dir' in runner %}cache_dir = "{{ runner.cache_dir }}"
{% endif %}
  [runners.custom_build_dir]
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
    [runners.cache.azure]
  {% if runner.executor == "custom" %}[runners.custom]
    config_exec = "{{ runner.config_exec }}"
    config_args = {{ runner.config_args }}
    prepare_exec = "{{ runner.prepare_exec }}"
    prepare_args = {{ runner.prepare_args }}
    run_exec = "{{ runner.run_exec }}"
    run_args = {{ runner.run_args }}
    cleanup_exec = "{{ runner.cleanup_exec }}"
    cleanup_args = {{ runner.cleanup_args }}
{% endif %}

{% endfor %}