#!/bin/bash

# Function to send email notification
send_email_notification() {
    local recipient="$1"
    local subject="$2"
    local body="$3"

    echo -e "$body" | mail -s "$subject" "$recipient"
}

# stop services
{% for service in _ssl_services %}
/usr/sbin/service {{ service }} stop
{% endfor %}

# Give Nginx more time to stop before certbot
sleep 5

# build bash array of domains
SITES=()
{% for domain in _ssl_domains %}
SITES+=("{{ domain }}")
{% endfor %}

# turn array into certbot compatible sites string
SITESSTRING=""
for site in ${SITES[@]}; do
  SITESSTRING+=" -d $site"
done

# run certbot and capture the output
certbot_output=$( {{ ssl.certbot_renew_command }} --{{ _ssl_web_server }} --http-01-port {{ ssl.http_01_port }} --expand$SITESSTRING 2>&1 )

# Capture exit code of Certbot command
certbot_exit_code=$?

# start services again
{% for service in _ssl_services %}
/usr/sbin/service {{ service }} start
{% endfor %}

# reload dependent services
{% for service in ssl.reload %}
/usr/sbin/service {{ service }} {{ ssl.reload_command }}
{% endfor %}

if [ $certbot_exit_code -ne 0 ]; then
    # Certbot failed, send email notification
    recipient="sysadm@codeenigma.com"
    subject="Certbot Renewal Failed"
    body="Certbot renewal failed with the following output:

$certbot_output"
    send_email_notification "$recipient" "$subject" "$body"
fi
