#!/bin/bash

# stop services
{% for service in _ssl_services %}
/usr/sbin/service {{ service }} stop
{% endfor %}

# Give Nginx more time to stop before certbot
sleep 5

# build bash array of domains
SITES=()
{% for domain in _ssl_domains %}
SITES+=("{{ domain }}")
{% endfor %}

# turn array into certbot compatible sites string
SITESSTRING=""
for site in ${SITES[@]}; do
  SITESSTRING+=" -d $site"
done

# run certbot
{{ ssl.certbot_renew_command }} --{{ _ssl_web_server }} --http-01-port {{ ssl.http_01_port }} --expand$SITESSTRING

# start services again
{% for service in _ssl_services %}
/usr/sbin/service {{ service }} start
{% endfor %}

# reload dependent services
{% for service in ssl.reload %}
/usr/sbin/service {{ service }} {{ ssl.reload_command }}
{% endfor %}