#!/bin/bash

# stop services
{% for service in ssl.services %}
service {{ service }} stop
{% endfor %}

# build bash array of domains
SITES=()
{% for domain in _ssl_domains %}
SITES+=("{{ domain }}")
{% endfor %}

# turn array into certbot compatible sites string
SITESSTRING=""
for site in ${SITES[@]}; do
  SITESSTRING+=" -d $site"
done

{% if ssl.web_server == 'none' %}
# run certbot
/usr/bin/certbot certonly --standalone --agree-tos --force-renew --http-01-port {{ ssl.http_01_port }} --expand$SITESSTRING
{% else %}
# run certbot
/usr/bin/certbot certonly --{{ ssl.web_server }} --standalone --agree-tos --force-renew --http-01-port {{ ssl.http_01_port }} --expand$SITESSTRING
{% endif %}

# start services again
{% for service in ssl.services %}
service {{ service }} start
{% endfor %}
