#!/bin/bash

# Variables
TODAY=$(date +%y%m%d)
EMAIL="{{ clamav_clamscan.email }}"
SERVER=`hostname -f`

# A simple color function to report errors in red
color() {
  printf '\033[%sm%s\033[m\n' "$@"
 # usage color "31;5" "error message"
 # 0 default
 # 5 blink, 1 strong, 4 underlined
 # fg: 31 red,  32 green, 33 yellow, 34 blue, 35 purple, 36 cyan, 37 white
 # bg: 40 black, 41 red, 44 blue, 45 purple
}

usage()
{
cat << EOF
usage: $0 ARGUMENT OPTIONS

This script scans a directory with clamscan and e-mails
a report if it finds any infected files.

ARGUMENTS:
  -d	Directory to scan
  -h	This help message.
EOF
}

# Parse the args
while getopts ":d:h" OPTION
do
  case $OPTION in
    h)
      usage
      exit
      ;;
    d)
      DIRECTORY=$OPTARG
      ;;
    ?)
      usage
      exit
      ;;
  esac
done

which clamscan > /dev/null
if [ $? -eq 1 ]; then
  echo "clamscan doesn't seem to be installed!"
  exit 1
fi

# Check for appropriate arguments and options

# No task provided
if [[ -z $DIRECTORY ]]; then
  color '31;1' "You didn't provide a directory to scan! Pass one as an argument with -d"
  usage
  exit 1
fi

if [[ ! -d $DIRECTORY ]]; then
  echo "That directory $DIRECTORY doesn't exist!"
  exit
fi

# Scan the directory and log to a file
clamscan -r -i --cross-fs=no --log=/var/log/clamscan-report-${TODAY}.log --quiet $DIRECTORY

# Check the log to see if there were any infected files
grep -q "Infected files: 0" /var/log/clamscan-report-${TODAY}.log

# If we found infected files, send an e-mail
if [ $? -eq 1 ]; then
  cat /var/log/clamscan-report-${TODAY}.log | mail -s "ClamScan report for ${SERVER}" $EMAIL
fi
