aws_iam_saml:
  aws_profile: "{{ _aws_profile }}" # Boto profile to use for AWS connections
  tags: {} # Dict of AWS tags to apply
    #Tagname: "TagValue"
  aws_account_alias: "" # IAM account alias - human readable name to order SSO page
  provider_name: "SAMLProvider" # The name of your SAML provider in the AWS console
  admin_role: "Administrators" # The name of your admin IAM role in the AWS console
  admin_groups: [] # An array of groups you wish to permit to assume the admin IAM role
  readonly_role: "ReadOnly" # The name of your read-only IAM role in the AWS console
  readonly_groups: [] # An array of groups you wish to permit to assume the read-only IAM role
  billing_role: "Billing" # The name of your billing access IAM role in the AWS console
  billing_policy: "BillingPolicy" # The name of the customer-managed IAM policy to allow billing access only
  billing_groups: [] # An array of groups you wish to permit to assume the billing access IAM role
  saml_metadata_document: "" # The SAML metadata from your IdP in multiline XML format
  linotp_server: "" # Optional LinOTP endpoint URL for 2FA
  saml_repository: "" # Git repository URL for SimpleSAMLphp
  saml_repository_directory: "simplesamlphp" # Temp directory to clone SimpleSAMLphp into
  saml_repository_branch: "master" # Branch of SimpleSAMLphp repo to work in
  saml_include_path: "" # Location to save the AWS admin include
  saml_sp_path: "" # Location to save account-specific SP in
  saml_sp_certificate: "" # The value for the X509Certificate
