---
- name: Copy Varnish default VCL.
  ansible.builtin.template:
    src: "default.vcl.j2"
    dest: "{{ varnish_config_path }}/default.vcl"
    owner: root
    group: root
    mode: 0644
  notify:
    - Reload systemd
    - Restart varnish
