---
user_deploy:
  # This sets both username and main group.
  # If you are using ce-deploy to deploy code this must match the `deploy_user` variable
  username: "{% if is_local is defined and is_local %}ce-dev{% else %}deploy{% endif %}"
  # It is often desirable to fix POSIX IDs for system users so they are consistent across your fleet
  # This is shown for documentation, you should do this in your config repo
  # uid: 989
  # gid: 989
  # Local username of the deploy user.
  utility_host: "localhost"
  utility_username: "{% if is_local is defined and is_local %}ce-dev{% else %}deploy{% endif %}"
  sudoer: false
  # List of additional groups to add the user to.
  groups:
    - docker # add the docker group so we can do container builds
    - www-data # add the www-data group to enable access on shared filesystem from both puppet and ansible servers
  ssh_keys: []
  # If you add more than one key here, make sure the original private key of your deploy server is the first.
  ssh_private_keys: []
  known_hosts: []
  known_hosts_hash: true
