---

- name: Define SSL base path.
  set_fact:
    _ssl_base_path: '/etc/ssl/provided'

- name: Create SSL directory.
  file:
    path: "{{ _ssl_base_path }}"
    state: directory

- name: Define key path.
  set_fact:
    _ssl_current_key_path: "{{ _ssl_base_path }}/{{ ssl.domain }}.key"

- name: Define cert path.
  set_fact:
    _ssl_current_cert_path: "{{ _ssl_base_path }}/{{ ssl.domain }}.cert"

- name: Check if we have an existing SSL key.
  stat:
    path: "{{ _ssl_current_key_path }}"
  register: ssl_key

- name: Copy public cert file to destination
  copy:
    content: "{{ ssl.cert }}"
    dest: "{{ _ssl_current_cert_path }}"
    owner: root
    group: root
    mode: 0644
  when: not ssl_key.stat.exists    

- name: Copy private key file to destination
  copy:
    content: "{{ ssl.private_key }}"
    dest: "{{ _ssl_current_key_path }}"
    owner: root
    group: root
    mode: 0644
  when: not ssl_key.stat.exists     

- name: Add key/cert pairs to know paths information.
  set_fact:
    ssl_facts: "{{ ssl_facts | combine({ ssl.domain:{ 'certificate': _ssl_current_cert_path, 'key': _ssl_current_key_path } }) }}"
