---
- hosts: provision-controller
  become: yes
  vars_files:
    - common.yml
  vars:
    - _domain_name: provision-controller.local
    - project_name: provision
  tasks:
    - ansible.builtin.import_role:
        name: ce_provision
    - name: Remove example git hooks.
      ansible.builtin.file:
        path: "/home/ce-dev/ce-provision/.git/hooks"
        state: absent
    - name: Create git-hooks link.
      ansible.builtin.file:
        src: "../git-hooks"
        dest: "/home/ce-dev/ce-provision/.git/hooks"
        state: link
    - ansible.builtin.import_role:
        name: aws/aws_cli
    - ansible.builtin.import_role:
        name: aws/aws_credentials
