// r71691 Makes sure linotp database is initialised after upgrade.
DPkg::Post-Invoke {
    "if grep -q 'Upgrade: linotp:' /var/log/apt/history.log; then \
        echo '[linotp-post] linotp was upgraded. Running database init...' | tee -a /var/log/linotp-upgrade.log; \
        linotp init database && \
        echo '[linotp-post] linotp init database completed.' | tee -a /var/log/linotp-upgrade.log || \
        echo '[linotp-post] linotp init database failed!' | tee -a /var/log/linotp-upgrade.log; \
    else \
        echo '[linotp-post] linotp not upgraded. Skipping database init.' | tee -a /var/log/linotp-upgrade.log; \
    fi";
};
