; Bypass @ silence
xdebug.scream={{ xdebug.scream }}
xdebug.max_nesting_level={{ xdebug.max_nesting_level }}
; General config
xdebug.mode={{ xdebug.mode }}
xdebug.start_with_request={{ xdebug.start_with_request }}
xdebug.output_dir="{{ xdebug.output_dir }}"
; Enable remote debugging
xdebug.client_port={{ xdebug.remote_port }}
xdebug.client_host={{ _xdebug_remote_host }}
xdebug.discover_client_host={{ _xdebug_remote_connect_back }}
; Trace mode (xdebug.mode=trace)
xdebug.trace_output_name=trace.%u
; Profile mode (xdebug.mode=profiler)
xdebug.profiler_output_name=profiler.%u
