{{ ansible_managed | comment }}

<LDAP>
    # LDAP server URL
    URL    {{ openvpn_config.ldap.url }}

{% if openvpn_config.ldap.tls %}
    # Enable Start TLS
    TLSEnable       yes
    # TLS CA Certificate File
    TLSCACertFile   {{ openvpn_config.ldap.tls_cert }}
{% else %}
    # Enable Start TLS
    TLSEnable       no
{% endif %}

    # Network timeout (in seconds)
    Timeout         {{ openvpn_config.ldap.timeout }}
</LDAP>

<Authorization>
    # Base DN
    BaseDN          "{{ openvpn_config.ldap.basedn }}"

    # User Search Filter
    SearchFilter    "{{ openvpn_config.ldap.search_filter }}"

    # Require Group Membership
    RequireGroup    {{ openvpn_config.ldap.require_group }}

    <Group>
        #RFC2307bis    false
        BaseDN     "{{ openvpn_config.ldap.group_basedn }}"
        SearchFilter    "{{ openvpn_config.ldap.group_filter }}"
        MemberAttribute memberUid
        # Add group members to a PF table (disabled)
        #PFTable        ips_vpn_eng
    </Group>
</Authorization>
