#!/bin/sh

# Ensure deploy directory is writeable
if [ -f "{{ deploy_dir }}" ]; then
  chown "{{ user_deploy.username }}:{{ user_deploy.username }}" "{{ deploy_dir }}"
fi

{% for item in mount_sync.squashed_fs %}
# Nothing to do without an initial filesystem file.
if [ -f "{{ item.path }}" ]; then
  # Mount the file
  mount "{{ item.path }}" "{{ deploy_dir }}/{{ item.project_name }}_{{ item.build_type }}" -t squashfs -o loop
fi

{% endfor %}
