#!/bin/sh

{% for item in mount_sync.tarballs %}}
# Nothing to do without an initial tarball.
if [ ! -f "{{ item }}" ]; then
  exit 0
fi

# Create tmp dir and untar.
mkdir -p "/tmp/{{ item }}"
cp "{{ item }}" "/tmp/{{ item }}"
cd "/tmp/{{ item }}"
tar -xvf *.tar --directory /

# Clean up tmp dir
rm -rf "/tmp/{{ item }}"
{% endfor %}}