Port 22
ChallengeResponseAuthentication no
Protocol 2
PermitRootLogin no
PasswordAuthentication no
MaxStartups 100:30:200
PrintMotd no
PrintLastLog no
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys /gitlab-data/ssh/authorized_keys
UsePAM yes
UseDNS no
AcceptEnv GIT_PROTOCOL
AcceptEnv LANG
AcceptEnv LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
