- name: Create DB subnet group.
  amazon.aws.rds_subnet_group:
    name: "{{ aws_rds.name }}"
    state: "{{ aws_rds.state }}"
    subnets: "{{ aws_rds.subnets }}"
    region: "{{ aws_rds.region }}"
    profile: "{{ aws_rds.aws_profile }}"
    description: "{{ aws_rds.description }}"
  register: _aws_rds_rds_subnet_group

- name: Create RDS parameter group
  amazon.aws.rds_param_group:
    state: present
    name: "{{ aws_rds.db_parameter_group_name }}"
    profile: "{{ aws_rds.aws_profile }}"
    region: "{{ aws_rds.region }}"
    description: "{{ aws_rds.db_parameter_group_description }}"
    engine: "{{ aws_rds.db_parameter_group_engine }}"
    params: "{{ aws_rds.db_parameters }}"
    tags: "{{ aws_rds.tags | combine({ 'Name': aws_rds.name }) }}"
  when:
    - aws_rds.db_parameters is defined
    - aws_rds.db_parameters | length > 0

- name: Create Aurora RDS instance.
  amazon.aws.rds_instance:
    db_instance_identifier: "{{ aws_rds.name }}"
    db_instance_class: "{{ aws_rds.db_instance_class }}"
    db_cluster_identifier: "{{ aws_rds.db_cluster_identifier }}"
    db_parameter_group_name: "{{ aws_rds.db_parameter_group_name | default(omit) }}" # not required. The name of the DB parameter group to associate with this DB instance. When creating the DB instance if this argument is omitted the default DBParameterGroup for the specified engine is used.
    state: "{{ aws_rds.state }}"
    engine: "{{ aws_rds.engine }}"
    copy_tags_to_snapshot: true
    publicly_accessible: "{{ aws_rds.publicly_accessible }}"
    profile: "{{ aws_rds.aws_profile }}"
    tags: "{{ aws_rds.tags | combine({ 'Name': aws_rds.name }) }}"
    allow_major_version_upgrade: false
    apply_immediately: true
    wait: true
    region: "{{ aws_rds.region }}"
    engine_version: "{{ aws_rds.engine_version | default(omit) }}"
  register: _rds_instance_info_aurora
  when: "'aurora' in aws_rds.engine"

- name: Create Aurora RDS reader instance.
  amazon.aws.rds_instance:
    db_instance_identifier: "{{ aws_rds.name }}-reader"
    db_cluster_identifier: "{{ aws_rds.db_cluster_identifier }}"
    db_instance_class: "{{ aws_rds.db_instance_class }}"
    db_parameter_group_name: "{{ aws_rds.db_parameter_group_name | default(omit) }}" # not required. The name of the DB parameter group to associate with this DB instance. When creating the DB instance if this argument is omitted the default DBParameterGroup for the specified engine is used.
    state: "{{ aws_rds.state }}"
    engine: "{{ aws_rds.engine }}"
    copy_tags_to_snapshot: true
    publicly_accessible: "{{ aws_rds.publicly_accessible }}"
    profile: "{{ aws_rds.aws_profile }}"
    tags: "{{ aws_rds.tags | combine({ 'Name': aws_rds.name + '-reader' }) }}"
    allow_major_version_upgrade: false
    apply_immediately: true
    wait: true
    region: "{{ aws_rds.region }}"
    engine_version: "{{ aws_rds.engine_version | default(omit) }}"
  when:
    - "'aurora' in aws_rds.engine"
    - aws_rds.aurora_reader

- name: Generate security group information.
  ansible.builtin.include_role:
    name: aws/aws_security_groups
  vars:
    profile: "{{ aws_rds.aws_profile }}"
    region: "{{ aws_rds.region }}"
    group_names: "{{ aws_rds.security_groups }}"
    return_type: ids
  when: aws_rds.security_groups | length > 0

- name: Create RDS instance
  amazon.aws.rds_instance:
    db_instance_identifier: "{{ aws_rds.name }}"
    db_instance_class: "{{ aws_rds.db_instance_class }}"
    #storage_type: standard # not required. choices: standard;gp2;io1. The storage type to be associated with the DB instance. I(storage_type) does not apply to Aurora DB instances.
    master_username: "{{ aws_rds.master_username }}"
    master_user_password: "{{ aws_rds.master_user_password }}"
    state: "{{ aws_rds.state }}"
    #preferred_backup_window: undefined # not required. The daily time range (in UTC) of at least 30 minutes, during which automated backups are created if automated backups are enabled using I(backup_retention_period). The option must be in the format of "hh24:mi-hh24:mi" and not conflict with I(preferred_maintenance_window).
    engine: "{{ aws_rds.engine }}"
    db_parameter_group_name: "{{ aws_rds.db_parameter_group_name | default(omit) }}" # not required. The name of the DB parameter group to associate with this DB instance. When creating the DB instance if this argument is omitted the default DBParameterGroup for the specified engine is used.
    copy_tags_to_snapshot: true
    #character_set_name: undefined # not required. The character set to associate with the DB cluster.
    multi_az: "{{ aws_rds.multi_az }}"
    db_subnet_group_name: "{{ _aws_rds_rds_subnet_group.subnet_group.name }}"
    #auto_minor_version_upgrade: undefined # not required. Whether minor version upgrades are applied automatically to the DB instance during the maintenance window.
    force_update_password: true # not required. Set to True to update your cluster password with I(master_user_password). Since comparing passwords to determine if it needs to be updated is not possible this is set to False by default to allow idempotence.
    publicly_accessible: "{{ aws_rds.publicly_accessible }}"
    #enable_performance_insights: undefined # not required. Whether to enable Performance Insights for the DB instance.
    allocated_storage: "{{ aws_rds.allocated_storage }}"
    max_allocated_storage: "{{ aws_rds.max_allocated_storage }}"
    vpc_security_group_ids: "{{ _aws_security_group_list }}" # variable populated by the aws_security_groups role
    profile: "{{ aws_rds.aws_profile }}"
    tags: "{{ aws_rds.tags | combine({ 'Name': aws_rds.name }) }}"
    allow_major_version_upgrade: false
    storage_encrypted: "{{ aws_rds.storage_encrypted }}"
    apply_immediately: true
    wait: true
    region: "{{ aws_rds.region }}"
    engine_version: "{{ aws_rds.engine_version | default(omit) }}"
    #preferred_maintenance_window: undefined # not required. The weekly time range (in UTC) of at least 30 minutes, during which system maintenance can occur. The option must be in the format "ddd:hh24:mi-ddd:hh24:mi" where ddd is one of Mon, Tue, Wed, Thu, Fri, Sat, Sun.
  register: _rds_instance_info
  when: "'aurora' not in aws_rds.engine"

- name: Create SNS topic.
  ansible.builtin.include_role:
    name: aws/aws_sns
  vars:
    aws_sns:
      aws_profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
      region: "{{ aws_ec2_autoscale_cluster.region }}"
      name: "{{ aws_rds.sns.name }}"
      display_name: "{{ aws_rds.sns.display_name }}"
      delivery_policy_default_healthy_retry_policy_min_delay_target: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_min_delay_target }}"
      delivery_policy_default_healthy_retry_policy_max_delay_target: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_max_delay_target }}"
      delivery_policy_default_healthy_retry_policy_num_retries: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_num_retries }}"
      delivery_policy_default_healthy_retry_policy_num_max_delay_retries: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_num_max_delay_retries }}"
      delivery_policy_default_healthy_retry_policy_num_no_delay_retries: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_num_no_delay_retries }}"
      delivery_policy_default_healthy_retry_policy_num_min_delay_retries: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_num_min_delay_retries }}"
      delivery_policy_default_healthy_retry_policy_backoff_function: "{{ aws_rds.sns.delivery_policy_default_healthy_retry_policy_backoff_function }}"
      delivery_policy_disable_subscription_overrides: "{{ aws_rds.sns.delivery_policy_disable_subscription_overrides }}"
      subscriptions:
        "{{ aws_rds.sns.subscriptions }}"
  when:
    - aws_rds.sns.sns is defined
    - aws_rds.sns.sns

- name: Set alarm/ok action info.
  ansible.builtin.set_fact:
    _alarm_actions:
      - "{{ _aws_sns_topic_info.sns_arn }}"
  when:
    - _aws_sns_topic_info is defined
    - _aws_sns_topic_info.sns_arn

- name: Create RDS CloudWatch alarms.
  ansible.builtin.include_role:
    name: aws/aws_ec2_metric_alarm
  vars:
    aws_ec2_metric_alarm:
      aws_profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
      region: "{{ aws_ec2_autoscale_cluster.region }}"
      name: "{{ _rds_instance_info.db_instance_identifier }}_{{ item.name }}"
      description: "{{ item.description }}"
      metric: "{{ item.metric }}"
      namespace: "{{ item.namespace }}"
      statistic: "{{ item.statistic }}"
      comparison: "{{ item.comparison }}"
      threshold: "{{ item.threshold }}"
      unit: "{{ item.unit }}"
      period: "{{ item.period }}"
      evaluation_periods: "{{ item.evaluation_periods }}"
      alarm_actions: "{{ _alarm_actions | default([]) }}"
      ok_actions: "{{ _alarm_actions | default([]) }}"
      dimensions:
        "DBInstanceIdentifier": "{{ _rds_instance_info.db_instance_identifier }}"
  with_items: "{{ aws_rds.rds_cloudwatch_alarms }}"
  when:
    - aws_rds.rds_cloudwatch_alarms | length > 0
    - _rds_instance_info.db_instance_identifier is defined

- name: Create Aurora RDS CloudWatch alarms.
  ansible.builtin.include_role:
    name: aws/aws_ec2_metric_alarm
  vars:
    aws_ec2_metric_alarm:
      aws_profile: "{{ aws_ec2_autoscale_cluster.aws_profile }}"
      region: "{{ aws_ec2_autoscale_cluster.region }}"
      name: "{{ _rds_instance_info_aurora.db_instance_identifier }}_{{ item.name }}"
      description: "{{ item.description }}"
      metric: "{{ item.metric }}"
      namespace: "{{ item.namespace }}"
      statistic: "{{ item.statistic }}"
      comparison: "{{ item.comparison }}"
      threshold: "{{ item.threshold }}"
      unit: "{{ item.unit }}"
      period: "{{ item.period }}"
      evaluation_periods: "{{ item.evaluation_periods }}"
      alarm_actions: "{{ _alarm_actions | default([]) }}"
      ok_actions: "{{ _alarm_actions | default([]) }}"
      dimensions:
        "DBInstanceIdentifier": "{{ _rds_instance_info_aurora.db_instance_identifier }}"
  with_items: "{{ aws_rds.rds_cloudwatch_alarms }}"
  when:
    - aws_rds.rds_cloudwatch_alarms | length > 0
    - _rds_instance_info_aurora.db_instance_identifier is defined

- name: (Re) set facts for instance.
  ansible.builtin.set_fact:
    aws_rds_facts: "{{ aws_rds_facts | default({}) }}"

- name: Add instance info.
  ansible.builtin.set_fact:
    aws_rds_facts: "{{ aws_rds_facts | combine( {aws_rds.name: _rds_instance_info} ) }}"

- name: Assign resource to backup plan.
  ansible.builtin.include_role:
    name: aws/aws_backup
    tasks_from: resource
  vars:
    backup:
      backup_plan_name: "{{ aws_rds.backup }}"
      selection_name: "RDS-{{ aws_rds.name }}-{{ _env_type }}"
      resource_id: "{{ aws_rds.name }}"
      resource_type: "db"
  when:
    - aws_rds.backup is defined
    - aws_rds.backup | length > 0
