adapter: fastcgi
{% if opcache.host|length and opcache.port|length %}
fastcgi: {{ opcache.host }}:{{ opcache.port }}
{% elif opcache.socket|length %}
fastcgi: {{ opcache.socket }}
{% else %}
fastcgi: {{ _phpfpm_host.stdout }}:{{ _phpfpm_port.stdout }}
{% endif %}
