#!/bin/sh
pkill -HUP -P 1 runsv$
sleep 2
/opt/gitlab/embedded/bin/runsvdir-start &
sleep 2
/opt/gitlab/bin/gitlab-ctl stop
sleep 5
pkill -HUP -P 1 runsv$
sleep 2
/opt/gitlab/embedded/bin/runsvdir-start &
sleep 6
/opt/gitlab/bin/gitlab-ctl reconfigure
pkill -HUP -P 1 runsv$
sleep 2
/opt/gitlab/embedded/bin/runsvdir-start &
sleep 6
/opt/gitlab/bin/gitlab-ctl start
