- name: Add subnet to the list of EFS targets.
  ansible.builtin.set_fact:
    _aws_efs_targets: "{{ _aws_efs_targets | combine({target: {'subnet_id': target, 'security_groups': _aws_efs_security_group_ids}}) }}"
